<div class="container rastrigin">
    <div class="page-header">
        <h1>Rastrigin Service</h1>
        <!--<button ng-click="loadHistoricalData()" class="btn btn-default">Load historical data</button>-->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <form class="form-horizontal" role="form" ng-submit="run()">
                <div class="form-group">
                    <label for="dimension" class="col-sm-4 control-label">Dimension</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" class="form-control" id="dimension" ng-model="dimension" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxCycles" class="col-sm-4 control-label">Cycles</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" class="form-control" id="maxCycles" ng-model="maxCycles" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="initialSize" class="col-sm-4 control-label">Initial population size</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" class="form-control" id="initialSize" ng-model="initialSize"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxSize" class="col-sm-4 control-label">Maximum population size</label>
                    <div class="col-sm-8">
                        <input type="number" min="1" class="form-control" id="maxSize" ng-model="maxSize" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="snapshotFreq" class="col-sm-4 control-label">Snapshot frequency</label>
                    <div class="col-sm-8">
                        <input type="number" max="{{maxCycles}}" min="0" class="form-control" id="snapshotFreq"
                               ng-model="snapshotFreq" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="migrationFreq" class="col-sm-4 control-label">Migration
                        frequency (and results)</label>
                    <!-- TODO results frequency should be the same like snapshot frequency and nothing to do with migration-->
                    <div class="col-sm-8">
                        <input type="number" max="{{maxCycles}}" min="0" class="form-control"
                               id="migrationFreq"
                               ng-model="migrationFreq" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="leavePopulation" class="col-sm-4 control-label">Leave population</label>
                    <div class="col-sm-8">
                        <input type="checkbox" class="form-control"
                               id="leavePopulation"
                               ng-model="leavePopulation">
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    Advanced settings
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-expanded="false"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!--TODO Add crossover method selection-->
                                <div class="form-group">
                                    <label for="xover" class="col-sm-4 control-label">Cross-over parameter</label>
                                    <div class="col-sm-8">
                                        <input type="number" step="0.1" max="1" min="0" class="form-control" id="xover"
                                               ng-model="xover"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mu" class="col-sm-4 control-label">Mutation parameter</label>
                                    <div class="col-sm-8">
                                        <input type="number" step="0.01" max="1" min="0" class="form-control" id="mu"
                                               ng-model="mu"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="migrationFactor" class="col-sm-4 control-label">Migration factor</label>
                                    <div class="col-sm-8">
                                        <input type="number" max="100" min="0" class="form-control" id="migrationFactor"
                                               ng-model="migrationFactor" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default" style="width: 100%">Run</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary" ng-repeat="(hostname, workerIds) in results">
                <div class="panel-heading">
                    <h3 class="panel-title">{{hostname}}</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-info" ng-repeat="(workerId, result) in workerIds">
                        <div class="panel-heading">
                            <h3 class="panel-title">Worker ID: {{workerId}}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">{{result.value}}</span>
                                    Value
                                </li>
                                <li class="list-group-item">
                                    <nvd3 options="options" data="result.data" config="{refreshDataOnly: true}"></nvd3>
                                </li>
                                <li class="list-group-item">
                                    Numbers:
                                    <span class="badge" ng-repeat="number in result.point track by $index">{{number| number : 8}}</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{result.cycles}}</span>
                                    Cycles
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{result.runtime}} sec</span>
                                    Runtime
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">{{result.finished}}</span>
                                    Finished
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>