<div class="jumobtron">
    <div class="container">
        <h1>Remote Akka Cluster</h1>

        <p>Demo application used to monitor the cluster nodes</p>

        <p>You can start new nodes with:</p>
        <pre>
            <code>
                sbt "project backend" "run 2551"
                sbt "project backend" "run 2552"
                etc.
            </code>
        </pre>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="#/dashboard">Dasbhoard »</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Cluster Dashboard</h2>

            <p>The dashboard visualize the current cluster status.
                Shows the state of different nodes and other metrics.
                It's updated automatically.</p>
        </div>
    </div>

</div>